.content {
  grid-area: content;
  padding: 2rem;
  background-color: var(--color-divider);
  display: flex;
  justify-content: center;
}

.list {
  max-width: 800px;

  li {
    margin: 5rem 0;
    box-shadow: var(--box-shadow);
  }
}

.article {
  background-color: white;
  padding: 2rem 5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    max-width: 64px;
    border-radius: 50%;
    margin-top: -5rem;
  }

  &__title {
    margin: 2rem 0 0;
  }

  &__author {
    margin-bottom: 2rem;
    color: #aaa;
    font-weight: 500;
  }

  &__content {
    max-width: 80%;
    margin-bottom: 2rem;
    white-space: pre-line;
  }

  &__actions {
    padding-top: 1rem;
    width: 100%;
    text-align: right;
    border-top: 1px solid var(--color-divider);
  }

}
