@use './assets/styles/media_queries';

.content {
  grid-area: content;
  padding: 2rem 7rem;
  background-color: var(--color-divider);
  display: flex;
  justify-content: space-between;
}

.list {
  max-width: 800px;

  li {
    margin: 5rem 0 2rem;
    box-shadow: var(--box-shadow);
  }
}

.article {
  background-color: white;
  padding: 2rem 5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media_queries.xs {
    padding: 2rem 2rem;
  }

  &__img {
    max-width: 64px;
    border-radius: 50%;
    margin-top: -5rem;
  }

  &__title {
    margin: 2rem 0 0;
  }

  &__author {
    margin-bottom: 2rem;
    color: #aaa;
    font-weight: 500;
  }

  &__content {
    max-width: 80%;
    margin-bottom: 2rem;
    white-space: pre-line;
  }

  &__actions {
    padding-top: 2rem;
    width: 100%;
    text-align: right;
    border-top: 1px solid var(--color-divider);

    @include media_queries.xs {
      text-align: center;
    }
  }
}

.aside {
  background-color: white;
  margin: 5rem;
  padding: 2rem;
  padding-right: 5rem;
  align-self: flex-start;
  width: 250px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);

  &__title {
    margin-bottom: 2rem;
  }
  
  &__list {
    .item-category {
      cursor: pointer;
      margin: 1rem 0;
      transition: all 0.3s;
      font-weight: 500;

      &:hover {
        color: var(--color-primary);
      }
    }
  }
}
