@use './media_queries';
@use './variables';

.container {
  display: grid;
  min-height: 100vh;
  grid:
    'header' auto
    'content' 1fr
    'footer' auto / auto;

  .header {
    grid-area: header;
    padding: 2rem;
    background-color: var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &__logo {
      color: white;
      font-size: 4rem;
    }

    &__nav {
      @include media_queries.sm {
        display: none;
      }

      ul {
        display: flex;
      }
      &__link {
        font-size: 1.8rem;
        color: white;
        padding: 0 1rem;
      }
    }

    .active {
      font-weight: 700;
      text-decoration: underline;
    }
  }

  .footer {
    grid-area: footer;
    padding: 2rem;
    background-color: var(--color-dark-grey);
    color: white;
    font-size: 1.8rem;
    text-align: center;
  }
}

.btn {
  border: 0;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    box-shadow: var(--box-shadow);
  }

  &-primary {
    background-color: var(--color-primary);
    color: white;
  }

  &-secondary {
    background-color: white;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
  }

  &-danger {
    background-color: white;
    color: var(--color-error);
    border: 1px solid var(--color-error);
  }
}

.menu-icon {
  display: none;

  @include media_queries.sm {
    display: block;
  }

  i {
    color: white;
    cursor: pointer;
    font-size: 3rem;
  }
}

#mobileMenu {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  ul {
    li {
      margin-bottom: 1rem;
      a {
        color: var(--color-text);
      }
    }
  }
}
